<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="growlingstromach.example.com" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GrowlingStromach"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ATF"
            android:label="@string/title_activity_atf" >
        </activity>
        <activity
            android:name=".Bonchon"
            android:label="@string/title_activity_bonchon" >
        </activity>
        <activity
            android:name=".Espanya"
            android:label="@string/title_activity_espanya" >
        </activity>
        <activity
            android:name=".Shakeys"
            android:label="@string/title_activity_shakeys" >
        </activity>
        <activity
            android:name=".Lacson"
            android:label="@string/title_activity_lacson" >
        </activity>
        <activity
            android:name=".Illars"
            android:label="@string/title_activity_illars" >
        </activity>
        <activity
            android:name=".Dapitan"
            android:label="@string/title_activity_dapitan" >
        </activity>
        <activity
            android:name=".DT"
            android:label="@string/title_activity_dt" >
        </activity>
        <activity
            android:name=".Pnoval"
            android:label="@string/title_activity_pnoval" >
        </activity>
        <activity
            android:name=".MT"
            android:label="@string/title_activity_mt" >
        </activity>
        <activity
            android:name=".Carpark"
            android:label="@string/title_activity_carpark" >
        </activity>
        <activity
            android:name=".TT"
            android:label="@string/title_activity_tt" >
        </activity>
    </application>

</manifest>
